
:root{
 --main-color: floralwhite;
  --bacground-color: black;
  --link-color: #85C1E9;
}

body{
  background: url('../images/cookie-monster.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#container {
  background: var(--bacground-color);
  width: 420px;
  color: var(--main-color);
  padding: 15px;
  border-radius: 10px;
}

h1{
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
  background: var(--link-color);
  color: var(--bacground-color);
  border-radius: 5px;
  padding: 5px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#redes{
  text-align: center;
  background: var(--bacground-color);
}

#redes a {
  margin: 5px;
}

.hecho{
  text-align: center;
  font-size: 16px;
  font-family: 'Dancing Script', cursive;
  color: var(--main-color);
  width: 450px;
  border-radius: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.hecho p {
  text-align: center;
}

#love{
  color: var(--main-color);
  width: 19px;
  height: auto;
}
@media only screen and (max-width: 768px){
  html, body{
    display: flex;
    font-size: 18px;
    backdrop-filter: blur(4px);
  }

  #container{
    background: none;
    width: 90%;
    color: var(--bacground-color);
    padding: 15px;
  }

  /*Ajustar el texto con calc */
  p{
    font-size: 1em;
    color: var(--main-color);
  }

  #redes{
    /*display grid*/
    background: none;
  }

  .hecho p{
    display: none;
  }

}


@media only screen and (max-width: 480px){
  html, body{
    display: flex;
    font-size: 18px;
    backdrop-filter: blur(4px);
    overflow: scroll;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #container{
    background: none;
    color: var(--bacground-color);
    margin: 0 auto 0 auto;
  }

  h1{
    font-size: 60px;
    }

  h2{
    font-size: 1.27em;
  }

  /*Ajustar el texto con calc */
  p{
    font-size: 1em;
    color: var(--main-color);
    float: right;
    align-items: center;
  }

  #redes{
    /*display grid*/
    background: none;
  }

  .hecho p{
    display: none;
  }

  footer{
    width: 300px;
  }

}
